@model IEnumerable<NewsProject.Models.Article>

@{
    ViewBag.Title = "Home Page";
}


<div class="card-columns">
    @foreach (var item in Model)
    {
        <div class="card">
            <img class="card-img-top img-fluid" src="@Html.DisplayFor(modelItem => item.ImageLink)" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Card title that wraps to a new line</h4>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    }
</div>